
<div ng-controller="messagesCtrl">
    <div ng-repeat="message in messages">
        <div ng-if="message.senderid == userid">
            <div class="col-sm-12 well-sm ">
                <div class="col-sm-10 text-right">
                  <br>{{message.content}}</div>
                <div class="col-sm-2">
                  <img ng-src="{{'./img/' + userimage}}" class="img-circle centered-and-cropped" alt="" style="object-fit:cover;width:50px; height:50px;"> {{username}}</div>
              </div>
        </div>
        <div ng-if="message.senderid != userid">
            <div class="col-sm-12 well-sm ">
                <div class="col-sm-2">
                  <img ng-src="{{'./img/' + otherimage}}" class="img-circle centered-and-cropped" alt="" style="object-fit:cover;width:50px; height:50px;"> {{othername}}</div>
                <div class="col-sm-10">
                  <br>{{message.content}}</div>
              </div>
        </div>
    </div>
</div>