<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="dist/css/theme.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script src="./angularSlideables.js"></script>


  <style>
  .show_animation {
  animation: 0.5s advshow;
  height: 800px;
  
}
  .show_animation.ng-hide {
    animation: 0.5s advhide;
  }

  @keyframes advhide {
    from {
    height: 800px;
    }
    to {
    height: 0;
    }

  }

  @keyframes advshow {
    from {
    height: 0;
    }
    to {
    height: 800px;
    }

  }

</style>
</head>

<body ng-app="page" ng-controller="navbarCtrl">
  <div ng-include="'navbar.html'">
  
  </div>
  <div ng-include="'login.html'">

  </div>
  
  <div class="py-5" ng-controller="searchCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h2 class="py-2"> Welcome </h2>
            </div>
            <div class="panel-body">
              <form class="" action="./results.html" method="GET">
                <div class="row col-sm-12">
                  <div class="col-sm-8">
                    <input type="text" class="form-control m-1" id="keywords" name="keywords" placeholder="What are you looking for?"> </div>
                  <div class="col-sm-4 btn-group" text-center="">
                    <button class="btn col-sm-6 btn-outline-primary m-1" id="search">Search</button>
                    <button class="btn col-sm-7 col-lg-6 m-1 btn-outline-primary" id="show_advanced_button" type="button" ng-click="toggleAdv()">Advanced</button>
                  </div>
                </div>
                <div class="col-sm-12" ng-hide="advOptions" id="advanced_options">
                  <div class="text-center">
                    <h3 class="m-1 py-2">Advanced Options</h3>
                  </div>
                  <div>
                    <h4 class="m-1 py-1"> Location </h4>
                  </div>
                  <div class="row col-sm-12">
                    <div class="row col-sm-12">
                      <div class="col-sm-6">
                        <input type="text" class="form-control m-1" id="suburb" placeholder="Suburb" name="suburb"  ng-model="suburb" ng-change="SuburbChanged()"> </div>
                      <div class="col-sm-3">
                        <select class="form-control m-1" name="state" ng-model="selectedState" ng-options="state.text for state in states track by state.value"></select>
                        
                      </div>
                      <div class="col-sm-3">
                        <input type="text" class="form-control m-1" ng-model="selectedPostcode" id="postcode" placeholder="Post code" name="postcode"> </div>
                    </div>
                  </div>
                  <div>
                    <h4 class="m-1 py-1"> Availability </h4>
                  </div>
                  <div class="col-sm-12 m-1">
                    <div class="col-sm-12 checkbox">
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekday day" value="" id="monday" name="monday">&nbsp;Monday</label>
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekday day" value="" id="tuesday" name="tuesday">&nbsp;Tuesday</label>
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekday day" value="" id="wednesday" name="wednesday">&nbsp;Wednesday</label>
                    </div>
                    <div class="col-sm-12 checkbox">
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekday day" value="" id="thursday" name="thursday">&nbsp;Thursday</label>
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekday day" value="" id="friday" name="friday">&nbsp;Friday</label>
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekend day" value="" id="saturday" name="saturday">&nbsp;Saturday</label>
                    </div>
                    <div class="col-sm-12 checkbox">
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" class="weekend day" value="" id="sunday" name="sunday">&nbsp;Sunday</label>
                      <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" value="" class="day" id="public_holidays" name="public_holidays">&nbsp;Public Holidays</label>
                    </div>
                    <div class="col-sm-12 m-1 btn-group">
                      <button type="button" class="btn btn-outline-primary col-sm-2" id="all_available">All</button>
                      <button type="button" class="btn btn-outline-primary col-sm-2" id="weekends_available">Weekend</button>
                      <button type="button" class="btn btn-outline-primary col-sm-2" id="weekdays_available">Weekdays</button>
                      <button type="button" class="btn btn-outline-primary col-sm-2" id="none_available">Clear</button>
                    </div>
                  </div>
                  <div class="">
                    <h4 class="m-2 py-1"> Type </h4>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-4">
                      <select class="form-control m-1" ng-model="selectedMake" name="make" ng-options="make.name for make in makes track by make.value" ng-change="MakeChanged()"></select>
                      
                    </div>
                    <div class="col-sm-4">
                      <select class="form-control m-1" ng-model="selectedModel" name="model" ng-options="model.name for model in models track by model.value"></select>
                    </div>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-4">
                        <select class="form-control m-1" ng-model="selectedBody" name="body" ng-options="body.text for body in bodys track by body.value"></select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control m-1" ng-model="selectedDoor" name="doors" ng-options="door.text for door in doors track by door.value"></select>
                      
                    </div>
                  </div>
                  <div class="">
                    <h4 class="m-2 py-1"> Age </h4>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-4">
                      <input type="text" class="form-control m-1" id="year" placeholder="Year"> </div>
                    <div class="col-sm-4">

                        <select class="form-control m-1" ng-model="selectedKms" name="kms" ng-options="km.text for km in kms track by km.value"></select>
                    </div>
                    <div class="col-sm-4"> </div>
                  </div>
                  <div>
                    <h4 class="m-1 py-1"> Motor </h4>
                  </div>
                  <div class="row col-sm-12">
                    <div class="col-sm-4">
                      <select class="form-control m-1" ng-model="selectedEnginecc" name="enginecc" ng-options="enginecc.text for enginecc in engineccs track by enginecc.value"></select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control m-1" ng-model="selectedPetrol" name="petrol" ng-options="petrol.text for petrol in petrols track by petrol.value"></select>
                    </div>
                    <div class="col-sm-4">
                      <select class="form-control m-1" ng-model="selectedTransmission" name="transmission" ng-options="transmission.text for transmission in transmissions track by transmission.value"></select>

                      <select type="text" class="form-control m-1" id="transmission" name="transmission">
                        <option value="" selected="">Transmission</option>
                        <option value="Auto">Auto</option>
                        <option value="Manual">Manual</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12 text-center py-2">
                      <button type="submit" class="btn col-sm-4 btn-outline-primary m-1">Search</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12"> </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./app.js"></script>
  <script>
    $(document).ready(function(){
      /*
      	$("#show_advanced_button").click(function(){
      		$( "#advanced_options" ).toggle();
        });
        */
        $("#all_available").click(function(){
            $(".day").prop('checked', true);
          });

          $("#none_available").click(function(){
            $(".day").prop('checked', false);
          });

          $("#weekends_available").click(function(){
            $(".day").prop('checked', false);
            $(".weekend").prop('checked', true);
          });

          $("#weekdays_available").click(function(){
            $(".day").prop('checked', false);
            $(".weekday").prop('checked', true);
          });

      });
  </script>
  <script>
      function findIndex(arr, target, key)
      {
        var target_index = -1;
        arr.forEach(function(item, index)
        {
          if(item[key] == target )
          {
            target_index = index;
          }
          
        });
        return target_index;
      }

    app.controller('searchCtrl', function($scope, $http) {
      $scope.advOptions = true;
      $scope.body = [];
      $scope.toggleAdv = function(){
        $scope.advOptions = !$scope.advOptions;
      }
      $scope.form = {};
      $http.post("./json/makes.php",
    {
    })
    .then(function(response) {
        
        $scope.makes = response.data;
    });

    $scope.MakeChanged = function (){

        
        $http.post("./json/models.php",
        {
            make: $scope.selectedMake.value
        })
        .then(function(response) {

            $scope.models = response.data;
        });
    }

    $http.post("./json/body.php", {})
    .then(function(response){

        $scope.bodys = response.data;
      });

    $scope.doors = [];
    $http.post("./json/doors.php", {})
    .then(function(response){

        $scope.doors = response.data;
      });

    $scope.engineccs = [];
    $http.post("./json/enginecc.php", {})
    .then(function(response){

        $scope.engineccs = response.data;
      });
    $scope.transmissions = [];
    $http.post("./json/transmission.php", {})
    .then(function(response){

        $scope.transmissions = response.data;
      });

    $scope.kms = [];
      
    $http.post("./json/kms.php", {})
    .then(function(response){
        $scope.kms = response.data;
      });

    $scope.petrols = [];
    $http.post("./json/petrol.php", {})
    .then(function(response){
        $scope.petrols = response.data;
      });

    $scope.states = [];

    $http.post("./json/state.php", {})
    .then(function(response){
      console.log(response.data);
        $scope.states = response.data;
      });

    $scope.SuburbChanged = function(){
      $http.post("./json/suburbfill.php",
      {
        suburb:$scope.suburb
      })
      .then(function(response){
        console.log(response.data);
        if("state" in response.data && "postcode" in response.data)
        {
          var data = response.data;

          var state_index = findIndex($scope.states, data.state, "value");
          $scope.selectedState = $scope.states[state_index];
          
          $scope.selectedPostcode = data.postcode;
        }
      });
    };

});

</script>
  
  
  <script src="./navbar.js"></script>

</body>

</html>