<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <style>
    .c-c {
      width: 400px;
      height: 400px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .div-car {
      height: 200px;
      position: relative;
    }

    .img-small {}

    .img-car {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 80%;
    }

    .cc-img {
      object-fit: contain;
      /* Do not scale the image */
      object-position: center;
      /* Center the image within the element */
    }
      .Container {
        text-align: center;
      }
      .Container:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .Content {
        display: inline-block;
        vertical-align: middle;
      }
    
  </style>
</head>

<body>
  <div class="modal " id="detailed">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 row">
            <div class="div-car col-sm-4">
              <img src="./img/car.jpg" class="img-thumbnail img-car"> </div>
            <div class="col-sm-8">
              <div class="col-sm-12 row div-car">
                <table class="img-car col-sm-12">
                  <tbody>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                    <tr class="col-sm-12">
                      <th class="col-sm-3">Rego </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                      <th class="col-sm-3">Make </th>
                      <td class="col-sm-3">{{car.rego}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12 py-1 row">
            <div class="col-sm-4">
              <h6> Availability </h6>
              <div class="col-sm-12 row">
                <div ng-if="car.monday == 'yes'">
                  <span class="label label-success p-1">Monday</span>
                </div>
                <div ng-if="car.tuesday == 'yes'">
                  <span class="label label-success p-1">Tuesday</span>
                </div>
                <div ng-if="car.wednesday == 'yes'">
                  <span class="label label-success p-1">Wednesday</span>
                </div>
                <div ng-if="car.thursday == 'yes'">
                  <span class="label label-success p-1">Thursday</span>
                </div>
                <div ng-if="car.friday == 'yes'">
                  <span class="label label-success p-1">Friday</span>
                </div>
                <div ng-if="car.saturday == 'yes'">
                  <span class="label label-success p-1">Saturday</span>
                </div>
                <div ng-if="car.sunday == 'yes'">
                  <span class="label label-success p-1">Sunday</span>
                </div>
                <div ng-if="car.public_holidays == 'yes'">
                  <span class="label label-success p-1">Public Holidays</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8"> {{car.description}} </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>